/***************   font-face   ********************/
@font-face {
    font-family: 'HeeboRegular';
    src: local('fonts'), url(./fonts/otf/Heebo-Regular.otf) format('woff');
}

/***************   CSS   ********************/

* {
    font-family: 'HeeboRegular' !important;
}

.footer {
    background: lightgray;
    padding: 18px;
    color: black;
    font-size: 17px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}

.sideBar.d-flex {
    flex-direction: column;
}

label.checkbox-inline {
    display: flex;
}

.choocePatient {
    position: fixed;
    top: 10%;
    right: 4%;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 22px;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choocePatient:hover {
    border: 3px solid darkgray;
}

.choocePatient button{
    width: fit-content;
}