/***************   font-face   ********************/

@font-face {
    font-family: 'HeeboRegular';
    src: local('fonts'), url(./fonts/otf/Heebo-Regular.otf) format('woff');
}

/***************   CSS   ********************/

* {
    font-family: 'HeeboRegular' !important;
}

.footer {
    padding: 18px;
    color: black;
    font-size: 17px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}

label.checkbox-inline {
    display: flex;
}

.choocePatient {
    position: fixed;
    top: 15%;
    right: 4%;
    border: 1px solid #F5DEB3;
    border-radius: 5px;
    padding: 22px;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choocePatient:hover {
    border: 1px solid black;
}

.choocePatient button{
    width: fit-content;
}

.list-group-item-action:focus {
    background-color: blue;
}

.practiceSetupContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.practiceSetupContainer .input-group-prepend , .practiceSetupContainer span.input-group-text, .practiceSetupContainer input{
    width: 150px !important;
}

.bgNavbar{
    background-color: #5F9EA0 !important;
}

.practiceSetupContainer{
    height: 50vh !important;
}

.fa, .far, .fas, .timeContainer i {
    font-family: "Font Awesome 5 Free" !important;
}

::-webkit-input-placeholder {
    text-align: right;
} 

.list-group {
    max-height: 450px;
    overflow-y: scroll;
}

.btnDate {
    width: max-content !important;
}

.js-plotly-plot {
    border-radius: 10px !important;
    background-color: #40a0a0;
}

.formatRemainingTime {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 150;
}

.timerContainer {
    flex-direction: column;
}

.spaceAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.appBg {
    background: rgb(231, 231, 231);
}

span.input-group-text {
    background: #F5DEB3;
}

button, a{
    cursor: pointer !important;
}

.modal-dialog.modal-l.modal-fullscreen {
    display: flex;
    align-items: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.modal-fullscreen .modal-content {
    height: fit-content !important;
    padding: 50px;
    border-radius: 10px !important;
}

.cmpBg {
    background-color: white;
    border-radius: 10px;
}

img.logo {
    position: fixed;
    height: 3em;
    top: 0.3em;
    left: 3em;
    z-index: 1500;
}

.list-group-item-action:focus, .list-group-item-action.userSelectionBtn:hover{
  background-color: #5F9EA0 !important;
}

.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loaderContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}

.table td,.table th {
  text-align: center;
}

.tableContainer {
  height: 50vh;
  overflow-y: scroll;
}

table.table {
  margin: unset !important;
}

i.fas {
  margin: 0 !important;
}

.theadContainer {
  padding-right: 10px;
}